* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #c50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #c50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

.container {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 0.2fr 0.1fr 4fr 0.1fr;
  gap: 4px;
  padding: 0%;
  margin: 0%;
}
.header {
  grid-area: 1/1/-5/-1;
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
}
.logo {
  display: grid;
  justify-content: start;
}
.menu {
  display: grid;
  align-items: center;
}
.menu ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  padding: 0;
}
.sidebar {
  grid-area: 2/1/4/1;
  display: grid;
  gap: 50px;
}
.sidebar div {
  display: grid;
  align-items: center;
}
.nav ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
}
.article {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(9rem, 1fr));
}
.article .card {
  display: grid;
  padding-bottom: 100px;
}
.title {
  padding: 10px;
}
.footer {
  grid-area: 4/1/5/3;
  display: grid;
  align-items: center;
  padding: 0%;
  margin: 0%;
}
